<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/offline}">
<head>
    <meta charset="utf-8"/>
    <title>关于我们</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>
     <main layout:fragment="content">
        <article class="container">
            <header class="row">
                <div class="col s12">
                    <h1 class="flow-text center">关于我们</h1>
                    <p class="center">
                        姓名：吴弘博
                    </p>
                    <p class="center">
                        学号：2019302130011
                    </p>
                    <p class="center">
                        专业：遥感科学与技术
                    </p>
                    <p class="center">
                        姓名：王荷彬
                    </p>
                    <p class="center">
                        学号：2019302050089
                    </p>
                    <p class="center">
                        专业：计算机科学与技术
                    </p>
                    <p class="center">
                        姓名：仇钧超
                    </p>
                    <p class="center">
                        学号：2019302050130
                    </p>
                    <p class="center">
                        专业：计算机科学与技术
                    </p>
                    <p class="center">
                        姓名：邓罗奥
                    </p>
                    <p class="center">
                        学号：2019302110455
                    </p>
                    <p class="center">
                        专业：计算机科学与技术
                    </p>
                </div>
            </header>
        </article>
    </main>
</body>
</html>
